@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-ibm-plex: var(--font-ibm-plex);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: IBM Plex Mono, Helvetica, system-ui;
}

@layer components {
  .button-hover {
    @apply hover:bg-neutral-100 rounded-xl hover:text-neutral-800 hover:cursor-pointer px-2 py-1;
  }
}